In [6]:
import statsmodels.formula.api as smf
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split

salary_data = pd.read_csv('salary.csv')

# Remove Nan values
salary_data.dropna(how='any',axis=0)

salary_data.shape

y = salary_data.salary

X_train, X_test, y_train, y_test = train_test_split(salary_data, y, test_size=0.2)
print (X_train.shape, y_train.shape)
print (X_test.shape, y_test.shape)

lm = smf.ols(formula='salary ~ yearsworked', data=X_train).fit() 

lm.params

(411, 11) (411,)
(103, 11) (103,)

Intercept      40090.567316
yearsworked      836.850926
dtype: float64

In [7]:
pre_df = pd.DataFrame({'yearsworked': [12]})
pre_df.head()

   yearsworked
0           12

In [8]:
lm.predict(pre_df)

0    50132.778425
dtype: float64

In [9]:

# create a DataFrame with the minimum and maximum values
pre_df = pd.DataFrame({'yearsworked': [salary_data.yearsworked.min(), salary_data.yearsworked.max()]})
pre_df.head()

   yearsworked
0            0
1           41

In [ ]:
predictions = lm.predict(pre_df)
predictions

In [ ]:
salary_data.plot(kind='scatter', x='yearsworked', y='salary')
plt.plot(pre_df, predictions, c='red', linewidth=2)

In [ ]:

# print the confidence intervals for the model coefficients
lm.conf_int()

In [ ]:
# print the p-values for the model coefficients
lm.pvalues

In [ ]:
# print the R-squared value for the model
lm.rsquared

In [ ]:
lm.summary()